* {
    margin: 0;
    padding: 0;
}

body {
    background-image: url(./multim/background1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: scroll;
}

header {
    background-color: rgba(240, 248, 255, 0.836);
    border-top: 1px solid rgb(36, 36, 36);
    height: 80px;
    width: 100%;
    margin: 0px;
    text-align: center;
}

nav ul li {
    text-decoration: none;
    display: inline;
    list-style: none;
    margin: 20px;
    font-size: 20px;
    font-family: 'Kalam', cursive;
}

nav ul li a {
    text-decoration: none;
    color: rgb(235, 225, 213);
    font-family: 'Oswald', sans-serif;
}

nav ul li a:hover {
    background-color: rgba(214, 175, 125, 0.795)
}

.clearfix {
    clear: both;
}

.navbar {
    height: 50px;
    text-align: right;
}

.logo {
    text-align: center;
    line-height: 60px;
    padding: 10px;
    text-shadow: 3px 3px 1px white;
    font-family: 'Koulen', cursive;
    font-family: 'Oleo Script Swash Caps', cursive;
}

/* una cerveza diferente */
.slogan {
    text-align: center;
    letter-spacing: 2px;
    line-height: 50px;
    background-color: rgba(240, 248, 255, 0.493);
    border-bottom: 1px solid black;
    font-family: 'Oswald', sans-serif;
    font-style: italic;
}

.textoPrincipal {
    text-align: center;
    font-size: 30px;
    font-weight: bolder;
    background-color: rgba(240, 248, 255, 0.493);
    margin: 200px;
    text-shadow: 2px 2px 1px rgba(255, 255, 255, 0.877);
    font-family: 'Oswald', sans-serif;
}

.variedades {
    text-align: left;
    font-size: 15px;
    font-weight: bolder;
    padding: 30px;
    text-shadow: 3px 3px 1px rgba(255, 255, 255, 0.781);
    font-family: 'Oswald', sans-serif;
}

.productos {
    display: grid;
    grid-template-columns: auto auto auto auto;
    justify-content: space-evenly;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    font-weight: bold;
    padding: 50px;
}

.productos div {
    background-color: whitesmoke;
    border: 1px solid black;
    line-height: 200px;
    text-align: auto;
}

.footer {
    position: fixed;
    left: 0px;
    bottom: 0px;
    height: 29px;
    width: 100%;
    font-family: 'Oswald', sans-serif;
    background-color: rgba(245, 245, 245, 0.575);
    border-top: 1px solid black;
}

/* ¿quiénes somos? */
.historia {
    text-align: center;
    font-size: 30px;
    font-weight: bolder;
    padding: 30px;
    text-shadow: 3px 3px 1px rgba(255, 255, 255, 0.781);
    font-family: 'Oswald', sans-serif;
}

.textoHistoria {
    text-align: center;
    font-size: 25px;
    margin-left: 15%;
    margin-right: 15%;
    font-weight: bold;
    padding: 70px;
    border: 1px solid rgba(17, 17, 17, 0.705);
    color: black;
    background-color: rgba(240, 248, 255, 0.534);
    text-shadow: 2px 2px 1px rgba(255, 255, 255, 0.61);
    font-family: 'Oswald', sans-serif;
}

.contacto {
    text-align: left;
    background-color: rgba(240, 248, 255, 0.534);
    border: 1px solid black;
    padding: 50px;
    margin-top: 3rem;
    margin-right: 75%;
    position: fixed;
    font-size: 20px;
    font-family: 'Oswald', sans-serif;
}
